.App {
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
}

.user-inputs .header {
  width: 100vw;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 700;
  background-color: hsl(203, 85%, 54%);
  box-shadow: 5px 3px 5px 1px rgba(0,0,0,0.5);
}

.user-inputs form {
  width: fit-content;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.user-inputs form input {
  width: calc(100px + 1rem);
  font-size: 1.2rem;
  outline: none;
  border: none;
  background-color: hsl(203, 85%, 85%);
}

.user-inputs form button {
  display: flex;
  justify-content: center;
}

button {
  width: calc(175px + 1rem);
  display: flex;
  justify-content: center;
  background-color: hsl(203, 85%, 54%);
  margin-top: 0.5rem;
  padding: .5rem;
  border-radius: 5px;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
}

button:hover {
  font-weight: 700;
}

.cover-letter {
  width: 100%;
  flex-direction: column;
  align-items: center;
}